<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    

   
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left row -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/vs.png" class="img-fluid" alt="vishal" title="vishal">
                        </figure>
                    </div>
                    <!-- right row -->

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Marvel Universe</p>
                        <h1>I am   <span class="color-w">Web Developer</span> and learner</h1>
                        <a href="/superhero"> <button>check it</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- footer create  -->

  {{>footer}}
</body>

</html>